# environment
.env
.env.local
.env.*
!.env.example

# dependencies
node_modules/

# build artifacts
.next/
out/
dist/
build/
artifacts/
cache/
typechain-types/

# compiled metadata
tsconfig.tsbuildinfo
*.swp
*.swo

# logs & reports
*.log
reports/

# testing assets
test/
tests/
coverage/

# os junk
.DS_Store
Thumbs.db

# editor state
.vscode/
.idea/
*.code-workspace

